@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  font-family: 'Electrolize', sans-serif !important;
}

body {
  font-family: 'Electrolize', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111827;
  color: #fef08a;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}